@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

span {
  font-weight: 600;
}

.nav-container a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}
